:root {
  --clr-nasa-blue: #0b3d91;
  --clr-nasa-orange: #fc3d21;
}
.App {
  text-align: center;
  background-color: var(--clr-nasa-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
body {
  margin: 0 auto;
}
.button {
  background-color: var(--clr-nasa-orange);
}
.list-element {
  min-width: 100vw;
}
.search-bar {
  background-color: white;
  margin: 2rem;
}
.search-panel {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-nasa-orange);
  min-width: 100vw;
}
.search-results {
  background-color: var(--clr-nasa-orange);
  color: black;
}
